<style>
        *{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        body {
            width: 100%;
            color: #069;
            text-align: center;
            min-height: 100vh;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .container {
            width: 50%;
            overflow-y: scroll;
            height: 90vh;
            padding: 15px;
            box-shadow: 0 0 5px #069; 
        }
        .container::-webkit-scrollbar {
            width: 14px;
            border: 1px solid #069;
        }
        .container::-webkit-scrollbar-thumb {
            background-color: #069;
            border-radius: 6px;
        }
        .hr_dados1{
            border-top: medium dashed #069;
            border-bottom: medium dashed #069;
            height: 5px;
            overflow: visible;
            padding: 0;
            text-align: center;
        }
        .hr_dados1::after {
            content: "THIAGO VIUDES CARSADO";
            font-size: 1.4;
            padding: 0 0.3rem;
            top: -0.7rem;
            background: #fff;
            display: inline;
            position: relative;
        }
        .hr_01, .hr_02, .hr_03, .hr_04, .hr_05, .hr_06, .hr_07, .hr_08    {
            border-top: medium dashed #069;
            border-bottom: medium dashed #069;
            height: 3px;
            overflow: visible;
            padding: 0;
            text-align: center;
        }
        .hr_01::after {
            content: 'Objetivo';
            position: relative;
            top: -0.7rem;
            font-size: 1.4rem;
            background-color: #fff;
            display: inline;
            padding: 0 0.3rem;
    
        }
        .hr_02::after {
            content: 'Resumo';
            position: relative;
            top: -0.7rem;
            font-size: 1.4rem;
            background-color: #fff;
            display: inline;
            padding: 0 0.3rem;
        }
        .hr_03::after {
            content: 'Formação';
            position: relative;
            top: -0.7rem;
            font-size: 1.4rem;
            background-color: #fff;
            display: inline;
            padding: 0 0.3rem;
        }
        .hr_04::after {
            content: 'Experiência';
            position: relative;
            top: -0.7rem;
            font-size: 1.4rem;
            background-color: #fff;
            display: inline;
            padding: 0 0.3rem;
        }
        .hr_05::after {
            content: 'Ferramentas';
            position: relative;
            top: -0.7rem;
            font-size: 1.4rem;
            background-color: #fff;
            display: inline;
            padding: 0 0.3rem;
        }
        .hr_06::after {
            content: 'Idiomas';
            position: relative;
            top: -0.7rem;
            font-size: 1.4rem;
            background-color: #fff;
            display: inline;
            padding: 0 0.3rem;
        }
        .hr_07::after {
            content: 'Linguagens';
            position: relative;
            top: -0.7rem;
            font-size: 1.4rem;
            background-color: #fff;
            display: inline;
            padding: 0 0.3rem;
        }
        .hr_08::after {
            content: 'Redes Socias';
            position: relative;
            top: -0.7rem;
            font-size: 1.4rem;
            background-color: #fff;
            display: inline;
            padding: 0 0.3rem;
        }
        .fab{
            cursor: pointer;
            margin: 5px;
            max-height: 100%;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .fab:hover{
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            transform: scale(1.5);
            color: black;
        }
        img{
            border-radius: 5px;
            height: 300px;
            width: 250px;
        }
        
    
    </style>
